<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dataset Comparison</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
       $(function () {
              $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Data Quality Analyzer</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="query">Query</a></li>
        <li class="active"><a href="#">Compare<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>

</head>
<body>
	<form action="compare" method="POST">
		<div class="form-group">
		<div class="col-md">
		<label class="col-sm-2 control-label" for="formGroupInputSmall">Select two days to profile and compare</label>
		<div class="col-sm-1"> 
			<input type="submit" value="Compare" class='btn btn-success'>
		</div>
		<div class="col-sm-12 btn-group btn-group-toggle" data-toggle="buttons"> <br>
		{% for df in dfs %}
		<label class="btn btn-default">
		<input type="checkbox" name="d{{loop.index0}}" value="{{loop.index0}}">Day {{loop.index0}}
		</label> 
		{% endfor %}
	</div>
	</div>
	</div>
	</form><br><br><br><br><br><br><br>
	{% if reports is defined %}
			{{reports.profile1 | safe}}
			{{reports.profile2 | safe}}
	{% endif %}
</body>
</html>