<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dataset Querying</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
       $(function () {
              $('[data-toggle="tooltip"]').tooltip()
        })
    </script>



<script>
function loadProfiles() {
  {% if pdf is defined %}
  var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("report").innerHTML = this.responseText;
      showPage();
    } };
    xhttp.open("POST", "profileQuery", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("query={{query|safe}}&day={{day}}");
  {% endif %}

  {%if suggested is defined%}
  loadSuggestion('{{day}}','{{query|safe}}','{{suggested[0]}}');
  loadSuggestion('{{day}}','{{query|safe}}','{{suggested[1]}}');
  {%if suggested[2] is defined%}
  loadSuggestion('{{day}}','{{query|safe}}','{{suggested[2]}}');
  {% endif %}
  {% endif %}
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("report").style.display = "block";
}

function showRes(dimension) {
  document.getElementById("loader".concat(dimension)).style.display = "none";
  document.getElementById("report".concat(dimension)).style.display = "block";
}

function loadSuggestion(day, query, dimension) {
  var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("report".concat(dimension)).innerHTML = this.responseText;
      showRes(dimension);
    } };
    xhttp.open("POST", "trySuggestion", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("query=".concat(query,"&day=",day,"&dimension=",dimension));
}
</script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Data Quality Analyzer</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Query<span class="sr-only">(current)</span></a></li>
        <li><a href="compare">Compare</a></li>
      </ul>
    </div>
  </div>
</nav>
</head>

<body onload="loadProfiles()">
  <form action="query" method="POST" >
    <div class="row">
    <div class="col-sm-1">
      <label class="col-sm-12 control-label" for="inputHelpBlock">
      Select date
      </label><div data-toggle="buttons">
    {% for df in dfs %}<label class="btn btn-primary"><input type="radio" name="d" value="{{loop.index0}}">Day {{loop.index0}}</label><br><br>
    {% endfor %}</div>
    </div>
    <div class="col-sm-11">
     <div class="form-group"> 
      <label class="col-sm-3 control-label" for="formGroupInputSmall">
      Select attributes to visualize:
      </label>
      <div class="col-sm-12 btn-group btn-group-toggle" data-toggle="buttons">
      {% for attr in attrs%}
      <label class="btn btn-default">
      <input type="checkbox"  name="s{{attr}}" value="{{attr}}">{{attr}}
      </label>
      {% endfor %}
    </div></div>
    <br><br><br>
  <div class="col-sm-12"> 
    <label class="control-label" for="formGroupInputSmall">
      Select only tuples with:
      </label><br>
      <div class="form-group form-group-sm">
    {% for attr in attrs %}
    {% if attr in ['COMPLETENESS', 'CONSISTENCY', 'CONFORMITY'] %}
    <div class="form-group form-group-sm col-sm-12">
    <label class="col-sm-2" for="formGroupInputSmall">{{attr}}</label><div class="col-sm-4"><input type="text" class="cbn-input form-control" name="w{{attr}}" id="formGroupInputSmall" placeholder="is equal or greater than..."></div></div><br/>
    {% else %}
    <div class="form-group form-group-sm col-sm-12">
    <label class="col-sm-2" for="formGroupInputSmall">{{attr}}</label><div class="col-sm-4"><input type="text" class="cbn-input form-control" name="w{{attr}}" id="formGroupInputSmall" placeholder="is equal to..."></div></div><br/>
    {% endif %}
    {% endfor %}
  </div>
    </div>
    <div class="form-group"> 
    <label class="col-sm-2 control-label" for="formGroupInputSmall">
      Group by:
      </label>
      <div class="col-sm-12 btn-group btn-group-toggle" data-toggle="buttons">
      {% for attr in attrs%}
      <label class="btn btn-default">
    <input type="checkbox" name="g{{attr}}" value="{{attr}}">{{attr}}
    </label>
    {% endfor %}
    <br><br><br>
    </div>
    </div>
    <div class="form-group"> 
    <br><br><label class="col-sm-3 control-label" for="formGroupInputSmall">
      Select groups with a group COUNT
      </label>
    <div class="col-sm-2">
    <select class="form-control" name="op">
      <option value=">"><</option>
      <option value="<">></option>
      <option value="=">=</option>
    </select>
  </div>
      <div class="col-md-2"><input type="text" name="count" class="cbn-input form-control"></div>
</div> 
<div class="form-group col-md-12"> 
    <label class="col-sm-3 control-label" for="formGroupInputSmall">On the attributes:</label>
      <div class="col-sm-12 btn-group btn-group-toggle" data-toggle="buttons">
      {% for attr in attrs%}
      <label class="btn btn-default">
    <input type="checkbox" name="h{{attr}}" value="{{attr}}">{{attr}}
  </label>
    {% endfor %}
  </div>
    <br>
  </div>
    <div class="col-md-12">
   <div class="form-group">
   <br>  
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#AO" aria-expanded="false" aria-controls="AO">
    ADVANCED QUERY
  </button>
  <div class="collapse" id="AO">
    <br>Enter a custom query (table name is PEOPLE) <br><textarea name="query" class="form-control" rows="3" placeholder="SELECT * FROM PEOPLE LIMIT 10"></textarea><br>
  </div>
  <input type="submit" name="form1" value="Query" class='btn btn-success'>
</div>
</div>
</div>
</div>
  </form>
<br/><br/>
{%if pdf is defined%}
<p style="text-align:center;">
Query performed: <br><label class="control-label" for="formGroupInputSmall">{{query}}</label>
<br/>
  <form action="download" method="POST" target="dummyframe">
    <input type="hidden" name="query" value="{{query|safe}}">
    <input type="hidden" name="day" value="{{day}}">
    <p style="text-align:center;"><input type="submit" value="Download as CSV" class='btn btn-success'></p>
  </form>
    <iframe  style="display:none;" width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

<p style="text-align:center;">Showing only the first 20 elements for day {{day}}:
<br/>
</p>
<div class="table-responsive col-md-12">
{{pdf | safe}}
</div>
<br/>
<div>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#PQ" aria-expanded="false" aria-controls="PQ">
    Show Profile
  </button>
  <div class="collapse" id="PQ">
    <div id="loader" class="loader"></div>
    <div style="display:none;" id="report" class="animate-bottom"></div>
  </div>
</div>
{% endif %}
<br/><br/><br/>
{%if suggested is defined%}

Suggested queries:<br/><br/>
Try the same query using only {{suggested[0]}} as quality dimension:
<br/>  
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{suggested[0]}}" aria-expanded="false" aria-controls="{{suggested[0]}}"> Compute Result </button>
  <div class="collapse" id="{{suggested[0]}}">
    <div id="loader{{suggested[0]}}" class="loader"></div>
    <div style="display:none;" id="report{{suggested[0]}}" class="animate-bottom"></div>
  </div>
<br/><br/>
Try the same query using only {{suggested[1]}} as quality dimension:
<br/>  
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{suggested[1]}}" aria-expanded="false" aria-controls="{{suggested[1]}}"> Compute Result </button>
  <div class="collapse" id="{{suggested[1]}}">
    <div id="loader{{suggested[1]}}" class="loader"></div>
    <div style="display:none;" id="report{{suggested[1]}}" class="animate-bottom"></div>
  </div>
<br/><br/>
{%if suggested[2] is defined%}
Try the same query using only {{suggested[2]}} as quality dimension:
<br/>  
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{suggested[2]}}" aria-expanded="false" aria-controls="{{suggested[2]}}"> Compute Result </button>
  <div class="collapse" id="{{suggested[2]}}">
    <div id="loader{{suggested[2]}}" class="loader"></div>
    <div style="display:none;" id="report{{suggested[2]}}" class="animate-bottom"></div>
  </div>
<br/><br/>
{%endif%}
{%endif%}
</body>
</html>